.product-detail {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 40px;
  
  .product-image {
    grid-column: 1/2;
    border-radius: 12px;
    max-width: 100%;
  }

  .price {
    background-color: #88F963;
    color: #107619;
    padding: .5rem .8rem;
    border-radius: 6px;
  }

  .product-description {
    grid-column: 2/3;
    grid-row: 1;
  }
}