.header {
  padding-top: 24px;
}

.header ul {
 display: flex;
 gap: 12px;
 list-style: none;
 margin-bottom: 48px;
 padding: 0;
}

.link {
 padding: .5rem 1rem;
 border-radius: 6px;
 background-color: #eee;
 text-decoration: none;
 color: #000;
}

.header :global(.active),
.link:hover {
 background-color: #ddd;
}
