:root {
  --background-color: #0d0d0d;
  --blue-darker: #05437a;
  --blue-lighter: #3f85b2;
  --orange-darker: #ad7945;
  --orange-lighter: #df8d48;
  --white: #e2e3d7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
